    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{componentes/navbar :: head(titulo='Agregar Producto')}">
        <style>
            .size-btn.selected, .color-btn.selected {
                border: 2px solid #0d6efd;
                background-color: #cfe2ff;
            }
            .color-btn.selected {
                border: 2px solid black;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); 
            }
        </style>
    </head>

    <body>
        
        <div th:replace="~{componentes/navbar :: navbar}"></div>

        <main class="container my-5">
            <h1 class="mb-5">Agregar Producto</h1>
            <form th:action="@{/productos/guardarProducto}" th:object="${producto}" method="POST"
                enctype="multipart/form-data" class="mb-4">
                <input type="hidden" th:field="*{idProducto}" />
                <div class="d-flex gap-5 w-75 mx-auto mb-2">
                    <div class="mb-3 flex-fill w-75">
                        <label for="nombreProducto" class="form-label">Nombre del Producto:</label>
                        <input type="text" th:field="*{nombreProducto}" class="form-control" required>
                    </div>

                    <div class="mb-3 flex-fill w-75">
                        <label for="categoria" class="form-label">Categoría:</label>
                        <select th:field="*{categoriasSeleccionadas}" class="form-select" required>
                            <option th:each="categoria : ${categorias}" th:value="${categoria.idCategoria}"
                                th:text="${categoria.nombreCategoria}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="d-flex gap-5 w-75 mx-auto mb-2">
                    <div class="mb-3 flex-fill w-75">
                        <label for="descripcionProducto" class="form-label">Descripción:</label>
                        <textarea th:field="*{descripcionProducto}" class="form-control" required></textarea>
                    </div>

                    <div class="mb-3 flex-fill w-75">
                        <label for="imagenProducto" class="form-label">Imagen:</label>
                        <input type="file" id="imagenProducto" name="imagenProducto" class="form-control" accept="image/*"
                            required>
                    </div>
                </div>

            <div class="d-flex gap-3 w-100 mx-auto mb-2">
                    <div class="mb-3 flex-fill w-75 me-3">
                        <p class="fs-3 fw-bold">Tallas Disponibles</p>
                        <div class="row row-cols-5 g-2 justify-content-center mb-3">
                            <div class="col" th:each="talla : ${tallas}">
                                <button type="button" class="btn btn-outline-primary size-btn rounded-5 w-100 fs-6"
                                    th:attr="data-id=${talla.id}" th:text="${talla.valor}">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 flex-fill w-75 ms-3">
                        <p class="fs-3 fw-bold">Colores Disponibles</p>
                        <div class="row row-cols-6 g-3 justify-content-center mb-3 me-5 ms-5">
                            <div class="col" th:each="color : ${colores}">
                                <button type="button" class="btn border color-btn rounded-pill p-3"
                                    th:attr="data-id=${color.id}, title=${color.nombre}"
                                    th:style="'background-color:' + ${color.codigoHex}">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="tallasSeleccionadas" id="tallasSeleccionadas">
                <input type="hidden" name="coloresSeleccionados" id="coloresSeleccionados">

            <div class="d-flex gap-5 w-75 mx-auto mb-2">
                    <div class="mb-3 flex-fill">
                        <label for="precioProducto" class="form-label">Precio:</label>
                        <input type="number" th:field="*{precioProducto}" class="form-control" step="0.01" required>
                    </div>
                    <div class="mb-3 flex-fill">
                        <label for="estrellas" class="form-label">Estrellas:</label>
                        <input type="number" th:field="*{estrellasProducto}" class="form-control" step="0.01" required>
                    </div>
                    <div class="mb-3 flex-fill">
                        <label for="stockProducto" class="form-label">Cantidad:</label>
                        <input type="number" th:field="*{stockProducto}" class="form-control" required>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <a th:href="@{/productos/register/principal}" class="btn btn-secondary me-5 w-25">Cancelar</a>
                    <button type="submit" class="btn btn-primary w-25 ms-5" th:text="${editando} ? 'Actualizar producto' : 'Guardar producto'"></button>
                </div>
            </form>
        </main>

        <div th:replace="~{componentes/footer :: footer}"></div>
        <script src="/js/ropas.js"></script>
    </body>

    </html>
