<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{componentes/navbar :: head(titulo='Agregar Producto')}">
    <style>
        .size-btn.selected, .color-btn.selected {
            border: 2px solid #0d6efd;
            background-color: #cfe2ff;
        }
        .color-btn.selected {
            border: 2px solid black;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); 
        }
    </style>
</head>

<body>
    
    <div th:replace="~{componentes/navbar :: navbar}"></div>

    <main class="container my-5">
        <h1 class="mb-5">Agregar Producto</h1>
        <form th:action="@{/productos/guardarProducto}" th:object="${producto}" method="POST"
            enctype="multipart/form-data" class="mb-4">
            <div class="d-flex gap-5 w-75 mx-auto mb-2">
                <div class="mb-3 flex-fill w-75">
                    <label for="nombreProducto" class="form-label">Nombre del Producto:</label>
                    <input type="text" th:field="*{nombreProducto}" class="form-control" required>
                </div>

                <div class="mb-3 flex-fill w-75">
                    <label for="categoria" class="form-label">Categoría:</label>
                    <select th:field="*{categoriasSeleccionadas}" class="form-select" required>
                        <option th:each="categoria : ${categorias}" th:value="${categoria.idCategoria}"
                            th:text="${categoria.nombreCategoria}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="d-flex gap-5 w-75 mx-auto mb-2">
                <div class="mb-3 flex-fill w-75">
                    <label for="descripcionProducto" class="form-label">Descripción:</label>
                    <textarea th:field="*{descripcionProducto}" class="form-control" required></textarea>
                </div>

                <div class="mb-3 flex-fill w-75">
                    <label for="imagenProducto" class="form-label">Imagen:</label>
                    <input type="file" id="imagenProducto" name="imagenProducto" class="form-control" accept="image/*"
                        required>
                </div>
            </div>

           <div class="d-flex gap-3 w-100 mx-auto mb-2">
                <div class="mb-3 flex-fill w-75 me-3">
                    <p class="fs-3 fw-bold">Tallas Disponibles</p>
                    <div class="row row-cols-5 g-2 justify-content-center mb-3">
                        <div class="col" th:each="talla : ${tallas}">
                            <button type="button" class="btn btn-outline-primary size-btn rounded-5 w-100 fs-6"
                                th:attr="data-id=${talla.id}" th:text="${talla.valor}">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 flex-fill w-75 ms-3">
                    <p class="fs-3 fw-bold">Colores Disponibles</p>
                    <div class="row row-cols-6 g-3 justify-content-center mb-3 me-5 ms-5">
                        <div class="col" th:each="color : ${colores}">
                            <button type="button" class="btn border color-btn rounded-pill p-3"
                                th:attr="data-id=${color.id}, title=${color.nombre}"
                                th:style="'background-color:' + ${color.codigoHex}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="tallasSeleccionadas" id="tallasSeleccionadas">
            <input type="hidden" name="coloresSeleccionados" id="coloresSeleccionados">

           <div class="d-flex gap-5 w-75 mx-auto mb-2">
                <div class="mb-3 flex-fill">
                    <label for="precioProducto" class="form-label">Precio:</label>
                    <input type="number" th:field="*{precioProducto}" class="form-control" step="0.01" required>
                </div>
                <div class="mb-3 flex-fill">
                    <label for="estrellas" class="form-label">Estrellas:</label>
                    <input type="number" th:field="*{estrellasProducto}" class="form-control" step="0.01" required>
                </div>
                <div class="mb-3 flex-fill">
                    <label for="stockProducto" class="form-label">Cantidad:</label>
                    <input type="number" th:field="*{stockProducto}" class="form-control" required>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">GUARDAR PRODUCTO</button>
            </div>
        </form>

        <table class="table table-striped table-bordered">
            <thead class="text-center">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Estrellas</th>
                    <th>Categoría</th>
                    <th>Tallas</th>
                    <th>Colores</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.idProducto}"></td>
                    <td th:text="${producto.nombreProducto}"></td>
                    <td th:text="${producto.descripcionProducto}"></td>
                    <td th:text="${producto.precioProducto}"></td>
                    <td th:text="${producto.stockProducto}"></td>
                    <td th:text="${producto.estrellasProducto}"></td>
                    <td th:text="${producto.categorias != null ? producto.getCategoriasText() : 'N/A'}"></td>
                    <td
                        th:text="${producto.tallas != null && !producto.tallas.isEmpty() ? producto.getTallasText() : 'N/A'}">
                    </td>
                    <td
                        th:text="${producto.colores != null && !producto.colores.isEmpty() ? producto.getColoresText() : 'N/A'}">
                    </td>
                    <td>
                        <div class="d-flex gap-2">
                            <button type="button" class="btn btn-warning btn-editar" 
                                    data-bs-toggle="modal"
                                    data-bs-target="#editarModal"
                                    th:data-id="${producto.idProducto}">
                                Editar
                            </button>
                            <form th:action="@{/productos/eliminar}" method="post">
                                <input type="hidden" name="idProducto" th:value="${producto.idProducto}" />
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content w-75 mx-auto">
                    <form th:action="@{/productos/editar}" th:object="${producto}" method="post" id="" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarModalLabel">Editar Producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>

                        <div class="modal-body d-flex flex-column align-items-center gap-3">
                        <input type="hidden" name="idProducto" id="editar-id">

                        <div class="mb-3 w-75">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" name="nombreProducto" id="editar-nombre" required>
                        </div>

                        <div class="mb-3 w-75">
                            <label>Descripción:</label>
                            <textarea class="form-control" name="descripcionProducto" id="editar-descripcion" required></textarea>
                        </div>

                        <div class="mb-3 w-75">
                            <label>Imagen:</label>
                            <input type="file" id="editar-imagenProducto" name="imagenProducto" class="form-control" accept="image/*">
                        </div>

                        <div class="mb-3 w-75">
                            <label>Precio:</label>
                            <input type="number" class="form-control" name="precioProducto" id="editar-precio" step="0.01" required>
                        </div>

                        <div class="mb-3 w-75">
                            <label>Estrellas:</label>
                            <input type="number" class="form-control" name="estrellas" id="editar-estrellas" step="0.01" required>
                        </div>

                        <div class="mb-3 w-75">
                            <label>Stock:</label>
                            <input type="number" class="form-control" name="stockProducto" id="editar-stock" required>
                        </div>

                        <div class="mb-3 w-75">
                            <label>Categoría:</label>
                            <select class="form-select" name="categoriasSeleccionadas" id="editar-categoria">
                                <option th:each="cat : ${categorias}" th:value="${cat.idCategoria}" th:text="${cat.nombreCategoria}"></option>
                            </select>
                        </div>

                        <!-- Tallas -->
                        <div class="mb-3 flex-fill w-100 me-3">
                            <p class="fs-3 fw-bold">Tallas Disponibles</p>
                            <div class="row row-cols-5 g-2 justify-content-center mb-3">
                                <div class="col" th:each="talla : ${tallas}">
                                    <button type="button"
                                        class="btn btn-outline-primary size-btn editar-talla-btn rounded-5 w-100 fs-6"
                                        th:attr="data-id=${talla.id}, title=${talla.valor}"
                                        th:text="${talla.valor}">
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Colores -->
                        <div class="mb-3 flex-fill w-75 ms-3">
                            <p class="fs-3 fw-bold">Colores Disponibles</p>
                            <div class="row row-cols-5 g-3 justify-content-center mb-3 me-5 ms-5">
                                <div class="col" th:each="color : ${colores}">
                                    <button type="button"
                                        class="btn border color-btn editar-color-btn rounded-pill p-3"
                                        th:attr="data-id=${color.id}, title=${color.nombre}"
                                        th:style="'background-color:' + ${color.codigoHex}">
                                    </button>
                                </div>
                            </div>
                        </div>


                        <!-- Campos ocultos para enviar al backend -->
                        <input type="hidden" id="editar-tallasSeleccionadas" name="tallasSeleccionadas">
                        <input type="hidden" id="editar-coloresSeleccionados" name="coloresSeleccionados">

                         <div id="inputs-tallas"></div>
                         <div id="inputs-colores"></div>

                        
                    </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <div th:replace="~{componentes/footer :: footer}"></div>
    <script src="/js/ropas.js"></script>
</body>

</html>
